
img{
    height: 80px;
    width: 80px;
}
.card-text-center{
    padding: 30px;
    text-align: center;
    border: 1px solid gray ;
    border-radius: 10px;
    box-shadow:5px 5px 5px lightblue;
}

.col-md-3{
    margin-bottom: 30px;
}
